In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('Data-Collisions.csv')
df.head()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [6]:
df.drop(['INCKEY', 'COLDETKEY', 'SDOT_COLCODE', 'SDOT_COLDESC', 'SDOTCOLNUM', 'REPORTNO', 'STATUS', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC'], axis=1, inplace=True)

In [7]:

df.drop(['OBJECTID', 'X', 'Y', 'INTKEY', 'LOCATION', 'SEGLANEKEY', 'CROSSWALKKEY', 'ADDRTYPE'], axis=1, inplace=True)

In [8]:
df.head()

,SEVERITYCODE,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,...,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,2,2,Injury Collision,Angles,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,...,NaN,N,Overcast,Wet,Daylight,NaN,NaN,10,Entering at angle,N
1,1,1,Property Damage Only Collision,Sideswipe,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,...,NaN,0,Raining,Wet,Dark - Street Lights On,NaN,NaN,11,From same direction - both going straight - bo...,N
2,1,1,Property Damage Only Collision,Parked Car,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,...,NaN,0,Overcast,Dry,Daylight,NaN,NaN,32,One parked--one moving,N
3,1,1,Property Damage Only Collision,Other,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,...,NaN,N,Clear,Dry,Daylight,NaN,NaN,23,From same direction - all others,N
4,2,2,Injury Collision,Angles,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,...,NaN,0,Raining,Wet,Daylight,NaN,NaN,10,Entering at angle,N

In [9]:
df.drop(['COLLISIONTYPE', 'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'ST_COLCODE', 'ST_COLDESC', 'HITPARKEDCAR', 'JUNCTIONTYPE', 'PEDROWNOTGRNT'], axis=1, inplace=True)

In [10]:
df.drop(['INCDATE', 'INCDTTM'], axis=1, inplace=True)
df.drop(['SEVERITYCODE.1'], axis=1, inplace=True)
df.head(10)

,SEVERITYCODE,SEVERITYDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING
0,2,Injury Collision,NaN,N,Overcast,Wet,Daylight,NaN
1,1,Property Damage Only Collision,NaN,0,Raining,Wet,Dark - Street Lights On,NaN
2,1,Property Damage Only Collision,NaN,0,Overcast,Dry,Daylight,NaN
3,1,Property Damage Only Collision,NaN,N,Clear,Dry,Daylight,NaN
4,2,Injury Collision,NaN,0,Raining,Wet,Daylight,NaN
5,1,Property Damage Only Collision,NaN,N,Clear,Dry,Daylight,NaN
6,1,Property Damage Only Collision,NaN,0,Raining,Wet,Daylight,NaN
7,2,Injury Collision,NaN,N,Clear,Dry,Daylight,NaN
8,1,Property Damage Only Collision,NaN,0,Clear,Dry,Daylight,NaN
9,2,Injury Collision,NaN,0,Clear,Dry,Daylight,NaN

In [11]:
df['SPEEDING'].unique()
indexSPEEDING = df[ df['SPEEDING'] == 'Y' ].index
df.drop(indexSPEEDING , inplace=True)

In [12]:
df['INATTENTIONIND'].unique()
indexINATTENTIONIND = df[ df['INATTENTIONIND'] == 'Y' ].index
df.drop(indexINATTENTIONIND , inplace=True)

In [13]:

df['UNDERINFL'].unique()
indexUNDERINFL1 = df[ df['UNDERINFL'] == '1' ].index
indexUNDERINFL2 = df[ df['UNDERINFL'] == 'Y' ].index
df.drop(indexUNDERINFL1 , inplace=True)
df.drop(indexUNDERINFL2 , inplace=True)
df.head(100)

,SEVERITYCODE,SEVERITYDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING
0,2,Injury Collision,NaN,N,Overcast,Wet,Daylight,NaN
1,1,Property Damage Only Collision,NaN,0,Raining,Wet,Dark - Street Lights On,NaN
2,1,Property Damage Only Collision,NaN,0,Overcast,Dry,Daylight,NaN
3,1,Property Damage Only Collision,NaN,N,Clear,Dry,Daylight,NaN
4,2,Injury Collision,NaN,0,Raining,Wet,Daylight,NaN
...,...,...,...,...,...,...,...,...
109,1,Property Damage Only Collision,NaN,0,Clear,Dry,Dark - Street Lights On,NaN
111,1,Property Damage Only Collision,NaN,0,Overcast,Dry,Dusk,NaN
112,1,Property Damage Only Collision,NaN,N,Overcast,Dry,Daylight,NaN
113,1,Property Damage Only Collision,NaN,0,Overcast,Dry,Daylight,NaN
114,2,Injury Collision,NaN,N,Clear,Dry,Daylight,NaN

In [14]:

df.drop(['INATTENTIONIND', 'UNDERINFL', 'SPEEDING'], axis=1, inplace=True)
df.head(10)

,SEVERITYCODE,SEVERITYDESC,WEATHER,ROADCOND,LIGHTCOND
0,2,Injury Collision,Overcast,Wet,Daylight
1,1,Property Damage Only Collision,Raining,Wet,Dark - Street Lights On
2,1,Property Damage Only Collision,Overcast,Dry,Daylight
3,1,Property Damage Only Collision,Clear,Dry,Daylight
4,2,Injury Collision,Raining,Wet,Daylight
5,1,Property Damage Only Collision,Clear,Dry,Daylight
6,1,Property Damage Only Collision,Raining,Wet,Daylight
7,2,Injury Collision,Clear,Dry,Daylight
8,1,Property Damage Only Collision,Clear,Dry,Daylight
9,2,Injury Collision,Clear,Dry,Daylight

In [15]:
#data Processing
#dealing with missing values
#Let's check if the selected parameters contain missing values or if the selected parameter are unknown. If so then such cases should be removed from the dataset.
df['WEATHER'].unique()
indexWEATHER = df[ df['WEATHER'] == 'Unknown' ].index
df.drop(indexWEATHER , inplace=True)

In [16]:
df['ROADCOND'].unique()
indexROADCOND = df[ df['ROADCOND'] == 'Unknown' ].index
df.drop(indexROADCOND , inplace=True)

In [17]:
df['LIGHTCOND'].unique()
indexLIGHTCOND = df[ df['LIGHTCOND'] == 'Unknown' ].index
df.drop(indexLIGHTCOND , inplace=True)

In [18]:
df.dropna(subset=['WEATHER', 'ROADCOND', 'LIGHTCOND'])

,SEVERITYCODE,SEVERITYDESC,WEATHER,ROADCOND,LIGHTCOND
0,2,Injury Collision,Overcast,Wet,Daylight
1,1,Property Damage Only Collision,Raining,Wet,Dark - Street Lights On
2,1,Property Damage Only Collision,Overcast,Dry,Daylight
3,1,Property Damage Only Collision,Clear,Dry,Daylight
4,2,Injury Collision,Raining,Wet,Daylight
...,...,...,...,...,...
194666,2,Injury Collision,Clear,Wet,Daylight
194668,2,Injury Collision,Clear,Dry,Daylight
194670,2,Injury Collision,Clear,Dry,Daylight
194671,2,Injury Collision,Clear,Dry,Dusk
194672,1,Property Damage Only Collision,Clear,Wet,Daylight

In [19]:
#Exploratory data analysis
df['SEVERITYCODE'].value_counts().to_frame()

   SEVERITYCODE
1         90851
2         40925

In [20]:
df['WEATHER'].value_counts().to_frame()

                          WEATHER
Clear                       81801
Raining                     23598
Overcast                    20022
Snowing                       588
Fog/Smog/Smoke                378
Other                         223
Sleet/Hail/Freezing Rain       80
Blowing Sand/Dirt              39
Severe Crosswind               20
Partly Cloudy                   5

In [21]:
df['ROADCOND'].value_counts().to_frame()

                ROADCOND
Dry                91784
Wet                33538
Ice                  675
Snow/Slush           566
Other                 74
Oil                   56
Standing Water        52
Sand/Mud/Dirt         50

In [22]:
df['LIGHTCOND'].value_counts().to_frame()

                          LIGHTCOND
Daylight                      86498
Dark - Street Lights On       32092
Dusk                           4374
Dawn                           1794
Dark - No Street Lights        1011
Dark - Street Lights Off        768
Other                           162
Dark - Unknown Lighting           9

In [23]:
df_test = df[['LIGHTCOND', 'WEATHER', 'ROADCOND', 'SEVERITYCODE']]

In [24]:
df_grp = df_test.groupby (['LIGHTCOND', 'WEATHER', 'ROADCOND' ], as_index = False).mean()
df_sort = df_grp.sort_values('SEVERITYCODE', ascending=False)
df_sort

,LIGHTCOND,WEATHER,ROADCOND,SEVERITYCODE
19,Dark - No Street Lights,Raining,Ice,2.0
88,Dark - Street Lights On,Sleet/Hail/Freezing Rain,Dry,2.0
183,Dusk,Clear,Oil,2.0
184,Dusk,Clear,Other,2.0
24,Dark - No Street Lights,Sleet/Hail/Freezing Rain,Wet,2.0
...,...,...,...,...
149,Daylight,Other,Snow/Slush,1.0
147,Daylight,Other,Ice,1.0
66,Dark - Street Lights On,Other,Sand/Mud/Dirt,1.0
67,Dark - Street Lights On,Other,Snow/Slush,1.0
0,Dark - No Street Lights,Blowing Sand/Dirt,Dry,1.0

In [25]:
dummy_variable_1 = pd.get_dummies(df["WEATHER"])
dummy_variable_1.head()

,Blowing Sand/Dirt,Clear,Fog/Smog/Smoke,Other,Overcast,Partly Cloudy,Raining,Severe Crosswind,Sleet/Hail/Freezing Rain,Snowing
0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,1,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0

In [26]:
df = pd.concat([df, dummy_variable_1], axis=1)

In [27]:
df.drop("WEATHER", axis = 1, inplace=True)

In [28]:
dummy_variable_2 = pd.get_dummies(df["ROADCOND"])
dummy_variable_2.head()

   Dry  Ice  Oil  Other  Sand/Mud/Dirt  Snow/Slush  Standing Water  Wet
0    0    0    0      0              0           0               0    1
1    0    0    0      0              0           0               0    1
2    1    0    0      0              0           0               0    0
3    1    0    0      0              0           0               0    0
4    0    0    0      0              0           0               0    1

In [29]:
df = pd.concat([df, dummy_variable_2], axis=1)

In [30]:
df.drop("ROADCOND", axis = 1, inplace=True)
dummy_variable_3 = pd.get_dummies(df["LIGHTCOND"])
dummy_variable_3.head()

,Dark - No Street Lights,Dark - Street Lights Off,Dark - Street Lights On,Dark - Unknown Lighting,Dawn,Daylight,Dusk,Other
0,0,0,0,0,0,1,0,0
1,0,0,1,0,0,0,0,0
2,0,0,0,0,0,1,0,0
3,0,0,0,0,0,1,0,0
4,0,0,0,0,0,1,0,0

In [31]:
df = pd.concat([df, dummy_variable_3], axis=1)

In [32]:

df.drop("LIGHTCOND", axis = 1, inplace=True)

In [33]:

df.head(10)

,SEVERITYCODE,SEVERITYDESC,Blowing Sand/Dirt,Clear,Fog/Smog/Smoke,Other,Overcast,Partly Cloudy,Raining,Severe Crosswind,...,Standing Water,Wet,Dark - No Street Lights,Dark - Street Lights Off,Dark - Street Lights On,Dark - Unknown Lighting,Dawn,Daylight,Dusk,Other
0,2,Injury Collision,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1,1,Property Damage Only Collision,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
2,1,Property Damage Only Collision,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,Property Damage Only Collision,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,2,Injury Collision,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
5,1,Property Damage Only Collision,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6,1,Property Damage Only Collision,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
7,2,Injury Collision,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,1,Property Damage Only Collision,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,2,Injury Collision,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0